@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
	scroll-behavior: smooth;
    }

    section {
        scroll-margin-top: 150px;
        @apply prose max-w-none mb-14
    }

    section h1 {
        @apply font-serif text-4xl font-medium
    }

    section h2 {
        @apply font-serif text-3xl font-medium
    }

    h3 {
        @apply font-sans text-xl font-medium
    }

    p {
        @apply font-serif font-extralight
    }

    strong {
        @apply inline-block font-normal 
    }

    button {
        @apply bg-indigo-600 text-white no-underline text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none m-0
    }

    a {
        max-width: 15rem;
        @apply text-indigo-600 underline font-normal bg-transparent cursor-pointer block md:inline-flex whitespace-nowrap overflow-hidden overflow-ellipsis md:max-w-none
    }

    a strong {
        max-width: 15rem;
        @apply underline font-bold whitespace-nowrap overflow-hidden overflow-ellipsis md:max-w-none
    }

    nav {
        @apply whitespace-nowrap
    }

    nav a {
        @apply flex flex-row-reverse md:flex-row items-start no-underline text-base text-gray-600 mr-5
    }

    nav a svg {
        @apply mr-0 ml-2 md:mr-1 md:ml-0
    }
}

@layer components {

    .sub-navigation a {
        @apply hidden mr-4 items-center text-sm no-underline;
    }

    .social a svg {
        @apply ml-1 mr-2 fill-current text-gray-400 hover:text-indigo-400;
    }

    .process__icon svg {
        @apply w-full h-6 w-6
    }

    .cycle {
        @apply pt-5
    }

    .pool-locking-addresses-list li::before {
        display: none;
    }
}